body {
    margin: 0;
}

.wrapper {
    cursor: default;
    filter: blur(3px);
}

.wrapper.disableblur {
    transition: 1s;
    filter: none;
    cursor: not-allowed;
}

.popup {
    background-color: #fff !important;
    position: absolute;
    transform: translate(-50%, -50%) scale(1);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    position: absolute;
    text-align: center;
    padding: 20px;
    border-radius: 30px;
    border-color: black;
    border-width: 1px;
    top: 45%;
    left: 50%;
    width: 50%;
    height: 35vh;
    cursor: default;
}

.popup.disable {
    transition: 1s;
    transform: translate(-50%, -50%) scale(0);
}

.popup.notvisible {
    transform: translate(-50%, -50%) scale(0);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}